.hero-area {
  background-image: url('img/homepage.png');
}




/*  Footer */

.bg-5 {
  background: rgba(0, 0, 0, 0) url('./img/footer.png') repeat scroll center center / cover;
}
.bg-4 {
  background: rgba(0, 0, 0, 0) url('./img/wide.png') repeat scroll center center / cover;
}
.bg-2 {
  background: rgba(0, 0, 0, 0) url('./img/counter.png') repeat scroll center center / cover;
}
.bg-1 {
  background: rgba(0, 0, 0, 0) url('./img/white.png') repeat scroll center center / cover;
}

.supporters {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin:  25px 0 0 0;
}
.supporters > div {
  display: flex;
  justify-content: center;
  align-items: inherit;
}

@media screen and (max-width: 920px) {
  .supporters > div {
    margin: 0 0 25px 0;
  }
}

/* Logo */

.navbar-brand img {
  width: auto;
  height: 30px;
}
.navbar-fixed-top .navbar-brand > img {
  width: auto;
}

/* Footer */

.media {
  display: flex;
}
.media-left {
  position: static !important;
  margin: 0 10px 0 0;
}
.copyright-text {
  margin: 15px 0 0 0;
}

/* Benefits */


.benefits-title {
  margin: 0 0 50px 0;
}
.benefits-tile {
  display: flex;
}
.benefits-icon {
  margin: 0 15px 0 0;
  font-size: 36px;
  width: 42px;
  min-width: 42px;
}

@media screen and (max-width: 992px) {
  .benefits-img {
    margin: 25px 0 0 0;
  }
}